.container{
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contentBox{
    margin: 30px;
    height:fit-content;
}