#forms{
    height: 500px;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}
.formbox{
    width: 350px;
    height: 40px;
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
}
#signupBTN{
    margin-top: 40px;
    width: 100px;
    height: 30px;
    background-color: #e63946;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color:white;
}

#signupBTN:disabled{
    opacity: 50%;
}