.container{
    min-height: 100vh;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.join{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.inputBox{
    margin-top: 10px;
    margin-bottom: 10px;
}