.header{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top:0;
    width: 100vw;
    background-color: white;
    gap:200px;
}
#logo{
    width: 50px;
    margin-left: 50px;
    margin-top: 20px;
}
.menuItems{
    display: flex;
    align-content: center;
    align-items: center;
}
.menuBTN{
    display: flex;
    align-content: center;
    align-items: center; 
}
.menu{
    text-decoration: none;
    color:black;
    font-weight: bold;

}

.loginBTN{
    width: 100px;
    height: 30px;
    margin-left: 30px;
    border:none;
    border-radius: 20px;
    color: white;
    background-color: gray;
}

.loginBTN:hover{
    cursor: pointer;
    background-color: #e63946;
}

.joinBTN{
    width: 100px;
    height: 30px;
    margin-left: 30px;
    border:none;
    border-radius: 20px;
    color: white;
    background-color: gray;
}
.joinBTN:hover{
    cursor: pointer;
    background-color: #e63946;
}