.header{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top:0;
    width: 100vw;
    background-color: white;
    gap:200px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index:3;
}
.mainlogo{
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 50px
}
.menuItems{
    display: flex;
    align-content: center;
    align-items: center;
}
.menuBTN{
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    right: 100px; 
}
.menu{
    text-decoration: none;
    color: #e63946;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 #e63946;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out
}
.menu:hover{
    color:white;
    box-shadow: inset 100px 0 0 0 #e63946;
    cursor: pointer;
}

.loginBTN{
    width: 100px;
    height: 30px;
    margin-left: 30px;
    border:none;
    border-radius: 20px;
    color: white;
    background-color: gray;
}

.loginBTN:hover{
    cursor: pointer;
    background-color: #e63946;
}

.joinBTN{
    width: 100px;
    height: 30px;
    margin-left: 30px;
    border:none;
    border-radius: 20px;
    color: white;
    background-color: #e63946;
}
.joinBTN:hover{
    cursor: pointer;

}