.header{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top:0;
    width: 100vw;
    background-color: whitesmoke;
    padding:30px;
    z-index:3;
}
.logoDiv{
    grid-area:1/1/2/2
}
.mypageDiv{
    grid-area:1/7/2/8
}
.loginDiv{
    grid-area:1/8/2/9
}
.signupDiv{
    grid-area:1/9/2/10
}
.mainlogo{
    font-size: 30px;
    text-decoration: none;
    color: #e63946;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 50px;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
.menuItems{
    display: flex;
    align-content: center;
    align-items: center;
}
.menuBTN{
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    right: 100px; 
}
.menu{
    text-decoration: none;
    color: #e63946;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 #e63946;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out
}
.menu:hover{
    color:white;
    box-shadow: inset 100px 0 0 0 #e63946;
    cursor: pointer;
}

.loginBTN{
    width: 100px;
    height: 30px;
    margin-left: 30px;
    border:none;
    border-radius: 20px;
    color: white;
    background-color: gray;
}

.loginBTN:hover{
    cursor: pointer;
    background-color: #e63946;
}

.joinBTN{
    width: 100px;
    height: 30px;
    margin-left: 30px;
    border:none;
    border-radius: 20px;
    color: white;
    background-color: #e63946;
}
.joinBTN:hover{
    cursor: pointer;

}