.mintNFT{
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
    width: 800px;
    height: fit-content;
    padding: 30px;
    border-radius: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}