.mintNFT{
    background-color: white;
    box-shadow:  9px 9px 18px #ededed,
             -9px -9px 18px #ffffff;
    width: 800px;
    height: fit-content;
    padding: 30px;
    border-radius: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}